.row{
    display: flex;
    flex-wrap: wrap;
}

.col{ flex: 1 0 0; }
.col-1 { flex: calc(100% / 12); max-width: calc(100% / 12); }
.col-2 { flex: calc(100% / 12 * 2); max-width: calc(100% / 12 * 2); }
.col-3 { flex: calc(100% / 12 * 3); max-width: calc(100% / 12 * 3); }
.col-4 { flex: calc(100% / 12 * 4); max-width: calc(100% / 12 * 4); }
.col-5 { flex: calc(100% / 12 * 5); max-width: calc(100% / 12 * 5); }
.col-6 { flex: calc(100% / 12 * 6); max-width: calc(100% / 12 * 6); }
.col-7 { flex: calc(100% / 12 * 7); max-width: calc(100% / 12 * 7); }
.col-8 { flex: calc(100% / 12 * 8); max-width: calc(100% / 12 * 8); }
.col-9 { flex: calc(100% / 12 * 9); max-width: calc(100% / 12 * 9); }
.col-10 { flex: calc(100% / 12 * 10); max-width: calc(100% / 12 * 10); }
.col-11 { flex: calc(100% / 12 * 11); max-width: calc(100% / 12 * 11); }
.col-12 { flex: calc(100%); max-width: calc(100%); }

.flex{display: flex;}
.flex-inline{display: inline-flex;}

.column{display: flex; flex-direction: column;}

.flex-wrap{flex-wrap: wrap;}
.flex-nowrap{flex-wrap: nowrap;}

.flex-1{ flex: 1 1 0%; }
.flex-2{ flex: 2 1 0%; }
.flex-3{ flex: 3 1 0%; }   
.flex-4{ flex: 4 1 0%; }
.flex-5{ flex: 5 1 0%; }
.flex-6{ flex: 6 1 0%; }
.flex-7{ flex: 7 1 0%; }
.flex-8{ flex: 8 1 0%; }
.flex-9{ flex: 9 1 0%; }
.flex-10{ flex: 10 1 0%; }
.flex-11{ flex: 11 1 0%; }
.flex-12{ flex: 12 1 0%; }

/* justify-content */
.justify-start{justify-content: flex-start;}
.justify-end{justify-content: flex-end;}
.justify-center{justify-content: center;}
.justify-between{justify-content: space-between;}
.justify-around{justify-content: space-around;}
.justify-evenly{justify-content: space-evenly;}
 
/*middle align*/
.middle{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* align-content */
.content-start{align-content: flex-start;}
.content-end{align-content: flex-end;}
.content-center{align-content: center;}
.content-between{align-content: space-between;}
.content-around{align-content: space-around;}
.content-evenly{align-content: space-evenly;}
.content-stretch{align-content: stretch;}

/* align-items */
.items-start{align-items: flex-start;}
.items-end{align-items: flex-end;}
.center{align-items: center;}
.stretch{align-items: stretch;}
.baseline{align-items: baseline;}

.gap-0{gap: 0rem;}
.gap-1{gap: .25rem;}
.gap-2{gap: .5rem;}
.gap-3{gap: .75rem;}
.gap-4{gap: 1rem;}
.gap-5{gap: 1.25rem;}
.gap-6{gap: 1.5rem;}
.gap-7{gap: 2rem;}


.gx-0 { row-gap: 0;}
.gx-1 { row-gap: .25rem;}
.gx-2 { row-gap: .5rem;}
.gx-3 { row-gap: .75rem;}
.gx-4 { row-gap: 1rem;}
.gx-5 { row-gap: 1.25rem;}
.gx-6 { row-gap: 1.5rem;}
.gx-7 { row-gap: 2rem;}