@import 'reset.css';
@import 'variables.css';
@import 'utilities.css';
@import 'flex.css';
@import 'card.css';
@import 'button.css';
@import 'grid.css';
@import 'form.css';
@import 'nav.css';
@import 'extra.css';


/* .card{
    background-color:var(--colorwhite);
    border:1px solid var(--primary);
    width:500px;
    margin:auto;
    padding:10px;  */
    /* border:1px solid var(--gray-400); */
    /* transition-property: transform;
    transition-property: width;
    transition-duration: .3s;
    transition-timing-function: ease;
    transition-delay: 0s;  */

    /* transition: transform .3s ease 0s;
}  */
/* .btn{
    background-color: var(--primary);
    width: 100%;
} */
 /* .p-50{padding:50px;}
 .p-10{padding:10px;} */

 /* .w-500{width:500px;}
 .w-200{width:200px;}

 .mt-50{margin-top: 50px;}
 .mt-20{margin-top: 20px;} */

/* body{
    margin: 0;
}
#box1{
    width: 250px;
    height: 250px;
    border: 5px solid;
    font-size: 13em;
    text-align: center;
    background-color: hsl(120, 100%, 70%);

    transform: translateX(100px);

    transform: scale(1.2);    
    transform: rotate(45deg); 
    transform: translate(50px);  
    transform: skew(20deg);      

    transform: translate(x, y);
    transform: translateX(100px);
    transform: translateY(50px);
}
.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px) scale(1.05);
} */

/* 
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  background: rgb(90, 84, 210);
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background: rgb(86, 222, 71);
  transform: scale(1.1);
}


.card {
  width: 250px;
  margin: 30px auto;
  padding: 20px;
  background: rgb(103, 174, 221);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(221, 24, 24, 0.2);
}


.image-container img {
  width: 300px;
  transition: transform 0.4s ease;
}

.image-container img:hover {
  transform: scale(1.1);
}  */