/* :root{
    --primary:rgb(176, 69, 87);
    --primary-dark:rgb(63, 4, 14);
    --primary-light:rgb(222, 149, 161);

    --secondary:rgba(236, 235, 232, 0.697);
    
    --success:green;
    --warning:yellow;
    --danger:red;
    --info:rgb(38, 133, 196);
    /* --colorwhite:white; */

    /* --white:white;
    --dark:black;

    --gray-100:gray;
    --gray-200:rgb(108, 106, 106);
    --gray-300:rgb(56, 56, 56);
    --gray-400:rgb(46, 46, 46);
    --border-color:rgb(46, 46, 46);
    
} */ 




:root{
    --primary:rgb(56, 85, 247);
    --primary-dark:rgb(63, 4, 14);
    --primary-light:rgb(238, 113, 134);
    --primary-hover:rgb(168, 20, 113);

    --secondary:rgba(192, 147, 12, 0.697);
    
    --success:green;
    --success-hover:#2ef50b;
    --warning:#f59e0b;
    --warning-hover:#be7a05;
    --danger:red;
    --danger-hover:rgb(211, 9, 9);
    --info:#0ea5e9;
    --info-hover:#097cb2;
    /* --colorwhite:white; */

    --white:#ffffff;
    --dark:#000000;
    --mutted: #ada8a8;

    --gray-100:#f3f4f6;
    --gray-200:#e5e7eb;
    --gray-300:#d1d5db;
    --gray-400:#9ca3af;
    --gray-500:#6b7280;
    --gray-600:#4b5563;
    --gray-700:#374151;
    --gray-800:#1f2937;
    --gray-900:#111827;

    --border-color:rgb(198, 195, 195);
    --card-color:1px solid e5e5e5;
    --card-border-radius: 20px;
    --card-box-shadow: 5px 10px rgba(0, 0, 0, 0.12);
    --card-hover-box-shadow: 0 8px 18px #ccc;
    --card-divider-color: #ccc;
    --form-border-color:1px solid rgb(78, 176, 78);
}