.form-container{
    width:40%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card{
    background:white;
    padding:25px;
    border-radius:20px;
    box-shadow:0 4px 12px rgba(0,0,0,0.15);
}

.form-control{
    width:250px;
    padding:10px;
    margin-top:5px;
    border-radius:6px;
    border:1px solid #ccc;
    font-size:14px;
}

.form-control:focus{
    outline:none;
    border-color:#e6ecf3;
}

.form-control-label{
    font-weight:600;
}

.btn{
    padding:10px 20px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    margin-top:10px;
}

.btn-primary{
    background-color:#145cc9;
    color:white;
}
.btn-delete{
    background-color:#dc3545;
    color:white;
}


.text-center{
    text-align:center;
}

.m-3{
    margin:15px 0;
}